
    <title>TheGossipProject</title>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <%= link_to "Accueil", static_pages_home_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "Team", static_pages_team_path, :class => "nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "Contact", static_pages_contact_path, :class => "nav-link"%>
        </li>
        </ul>
    </div>
    </nav>
    <h1>Auteur</h1>
    <% i=params[:id] %>
    <% u = User.find(i) %>
    First name : <%= u.first_name %>
    <p>Last name : <%= u.last_name %></p>
    <p>Age : <%= u.age %></p>
    <p>email : <%= u.email %></p>
    <p>City : <%= u.city.name %></p>
 </p>
   </body>
</html>