
<div class="card">
  <div class="card-body">
    <h1>Auteur</h1>
    <% i=params[:id] %>
    <% u = User.find(i) %>
    <br>
    <p><strong>Prénom</strong> <br> <%= u.first_name %></p>
    <br>

    <p><strong>Nom</strong> <br> <%= u.last_name %></p>
    <br>
    <p><strong>Age</strong> <br> <%= u.age %></p>
    <br>
    <p><strong>Description</strong> <br> <%= u.description %></p>
    <br>
    <p><strong>Email</strong> <br> <%= u.email %></p>
    <br>
    <p><strong>Ville</strong> <br> <%= u.city.name %>
    <% @city = City.find(params[:id]) %>
    <%= link_to "Clique ici pour voir les potins de cette ville", city_path(@city.id) %>

    </p>
  </div>
</div>
</body>
</html>